body {
  background: #000018;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

#keyboard {
  position: relative;
  left: 12%;
}

.rectangle {
  z-index: 10000;
  position: relative;
  left: 60%;
  bottom: 100px;

  width: 400px; /* Width of the rectangle */
  height: 100px; /* Height of the rectangle */
  background-color: #999918; /* Rectangle color */
}

.hire-me {
  background: white;
}
